
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-12">
    <div class="callout callout-info">
        <h4>공정별 생산 정보</h4>
        <p></p>
    </div>
</div>


    <div class="col-md-8">
        <div class="box box-default">

            <div class="box-header with-border"><h4>공정 : 공정명</h4></div>
            <div class="box-body">

                <div class="row">

                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="font :700">공정별 생산량</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress progress-number">
                                            <div class="progress-bar progress-bar-aqua" style="width: 50%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress progress-number">
                                            <div class="progress-bar progress-bar-danger" style="width: 50%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="font :700">생산량</th>
                                </tr>
                                <tr>
                                    <td><span class="badge bg-aqua" style="font : 500">50/200</span></td>
                                </tr>
                                <tr>
                                    <td><span class="badge bg-danger" style="font : 500">20</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
