
@{
    ViewBag.Title = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Comfort is the best happiness
        <small>CHAIR 3rd</small>
    </h1>
    <!-- 필요없음
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
     -->
</section>

<!-- 이미지 영역 -->
<div class="row">
    <div class="col-md-8">
        <section class="content container-fluid">

            <g-img class="BA0A6c">
                <div style=" width: 100%; height: 100%;, float: Center;">
                    <img id="main" src="~/dist/img/Chair.jpg" class="img-responsive img-rounded center-block"  style="margin-right: 0px; , height: 100%;">
                </div>
            </g-img>

        </section>
    </div>
</div>




